$primary: rgb(61, 159, 252);
$secondary: rgb(104, 101, 101);
$blue: rgb(2, 76, 172);

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

.container {
  margin: 40px 140px;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      li {
        list-style: none;
        margin: 0 20px 0;
        a {
          text-decoration: none;
          color: rgb(116, 111, 111);
        }
        .btn-top {
          background-color: $primary;
          margin-top: -8px;
          padding: 10px 20px;
          color: white;
          border-radius: 2px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.toggle-button {
  display: none;
  width: 25px;
  height: 27px;
  .bar {
    background-color: black;
    width: 25px;
    height: 4px;
    margin-bottom: 3px;
    padding-top: 3px;
  }
}

.btn-mid {
  margin: 40px 0;
  .blue {
    color: white;
    background-color: $primary;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .light {
    border: none;
    color: $blue;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
  }
}

// main

main {
  overflow: hidden;
  display: flex;
  margin: 50px 140px;

  h1 {
    font-size: 60px;
  }
  .header {
    width: 800px;
    margin-right: 38px;
    .avatar ul {
      display: flex;
      margin: 40px 0 40px -40px;
      li {
        list-style: none;
        .avt1 {
          position: relative;
        }
        .avt2 {
          position: absolute;
          margin-left: -20px;
        }
        .avt3 {
          position: absolute;
          margin-left: 0px;
          z-index: 2;
        }
        .avt4 {
          position: absolute;
          margin-left: 20px;
          z-index: 3;
        }
        .avt5 {
          position: absolute;
          margin-left: 40px;
          z-index: 4;
        }
        .avt6 {
          position: absolute;
          margin-left: 60px;
          z-index: 5;
        }
        .avt7 {
          position: absolute;
          margin-left: 80px;
          z-index: 6;
        }
        .avt8 {
          position: absolute;
          margin-left: 100px;
          z-index: 7;
        }
        .avt9 {
          position: absolute;
          margin-left: 120px;
          z-index: 8;
        }
        p {
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .right {
    width: 600px;
    .hero {
      width: 420px;
    }
    .tablet {
      display: none;
    }
  }
}
//section
section {
  .judul {
    width: 350px;
    h2 {
      font-size: 30px;
    }
  }
  margin: 100px 140px;
  .section1 {
    display: flex;
    gap: 40px;
    .card1 {
      padding: 25px;
      border-radius: 10px;
      border: 1px solid $secondary;
    }
    .card2 {
      padding: 25px;
      border-radius: 10px;
      border: 1px solid $secondary;
    }
  }
  .section2 {
    display: flex;
    margin-top: 40px;
    gap: 40px;
    .card1 {
      padding: 25px;
      border-radius: 10px;
      border: 1px solid $secondary;
      width: 900px;
    }
    .card2 {
      padding: 25px;
      border-radius: 10px;
      border: 1px solid $secondary;
    }
  }
}
// article
article {
  padding: 5px 0;
  .title {
    margin-bottom: 20px;
  }
  background-color: rgb(218, 248, 248);
  height: 550px;
  .say {
    display: flex;
    gap: 430px;
    .sara {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      width: 480px;
      .heros {
        display: flex;
        .c {
          margin-left: 80px;
          color: $primary;
        }
      }
      .text {
        margin: 10px 0;
        line-height: 25px;
      }
      .tag {
        padding: 20px 0;
        display: flex;
        .like {
          display: flex;
          .love {
            width: 18px;
            margin: 2px;
          }
        }
        .date {
          margin-left: 90px;
        }
      }
    }
    .jack {
      background-color: white;
      border-radius: 10px;
      position: absolute;
      padding: 30px;
      width: 300px;
      height: 300px;
      left: 500px;
      .heros {
        display: flex;
        .c {
          margin-left: 80px;
          color: $primary;
        }
      }
      .text {
        margin: 10px 0;
        line-height: 25px;
      }
      .tag {
        display: flex;
        padding: 20px 0;
        .like {
          display: flex;
          .love {
            width: 18px;
            margin: 2px;
          }
        }
        .date {
          margin-left: 90px;
        }
      }
    }
    .jessica {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      width: 450px;
      height: 200px;
      .heros {
        display: flex;
        .c {
          margin-left: 80px;
          color: $primary;
        }
      }
      .text {
        margin: 10px 0;
        line-height: 25px;
      }
      .tag {
        display: flex;
        padding: 20px 0;
        .like {
          display: flex;
          .love {
            width: 18px;
            margin: 2px;
          }
        }
        .date {
          margin-left: 90px;
        }
      }
    }
  }
}

// checkout

.checkout {
  .up {
    padding: 40px 0;
    h2 {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    p {
      display: flex;
      justify-content: center;
    }
  }
  .down {
    display: flex;
    justify-content: center;
    .price {
      border: 2px solid rgb(206, 206, 11);
      padding: 30px;
      border-radius: 10px;
      p {
        padding: 10px 0;
      }
      strong {
        font-size: 70px;
      }
      ul {
        li {
          display: flex;
          list-style: none;
          .check {
            margin-top: 5px;
          }
          p {
            margin-left: 10px;
          }
        }
      }
      button {
        background-color: $primary;
        color: white;
        padding: 10px 50px;
        margin: 20px 75px;
        border: none;
        border-radius: 3px;
      }
    }
  }
}

//footer
footer {
  background-color: rgb(218, 248, 248);
  height: 3rem;
  .container {
    .foot-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3rem;
      .logo {
        color: $blue;
      }
      .nav-link ul {
        display: flex;
        li {
          list-style: none;
          margin-right: 20px;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}
//tablet
@media screen and (max-width: 768px) {
  .container {
    margin: 40px 20px;
  }

  main {
    flex-direction: column;
    margin: 0 20px;
    .header {
      order: 2;
      width: 600px;
      h1 {
        font-size: 50px;
      }
    }
    .right {
      .tablet {
        display: flex;
        width: 600px;
      }
      .hero {
        display: none;
      }
    }
  }
  section {
    .judul {
      width: 350px;
    }
    margin: 30px 20px;
    .section1 {
      flex-direction: column;
    }
    .section2 {
      flex-direction: column;
      .card1 {
        width: 640px;
      }
    }
  }
  //article
  article {
    .say {
      gap: 450px;
      .jack {
        left: 320px;
      }
    }
  }
}
//smartphone
@media screen and (max-width: 576px) {
  .toggle-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .container {
    margin: 40px 20px;
    .navbar {
      position: relative;
      .navlink {
        display: none;
        position: absolute;
        background-color: wheat;
        width: 89vw;
        top: 40px;

        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 80px;
          li {
            margin-top: 10px;
          }
        }
      }
      .navlink.active {
        display: flex;
      }
    }
  }

  main {
    overflow: hidden;
    margin: 100px 20px;
    flex-direction: column;
    .header {
      width: 450px;
      h1 {
        font-size: 45px;
      }
    }
    .right {
      order: 1;
      width: 400px;
      .hero {
        display: flex;
      }
      .tablet {
        display: none;
        width: 85vw;
      }
    }
  }
  section {
    .judul {
      width: 400px;
      h2 {
        font-size: 40px;
        letter-spacing: 1px;
      }
    }
    .section2 {
      .card1 {
        width: 390px;
      }
    }
  }
  article {
    height: 1020px;
    .say {
      flex-direction: column;
      gap: 400px;
      .sara {
        width: 380px;
      }
      .jack {
        width: 380px;
        left: 20px;
        margin-top: 255px;
      }
      .jessica {
        width: 380px;
      }
    }
  }
}
